@tailwind base;
@tailwind components;
@tailwind utilities;

@screen lg {
  .blob-svg {
    background-image: url("../../public/blob.svg");
    background-repeat: no-repeat;
    background-position-y: center;
    background-size: contain;
  }
}
